body{
    margin: 0px;
    padding: 0px;
    transition: background-color 0.5s ease;
}



.dark-mode {
    background-color: #333;
    color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px 15px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 15px 35px 15px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}





.flags{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flaginfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flaginfo div{
    border-radius:5px;
    text-align: left;
        margin: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
    width: 100%;

    border-radius:5px;
}
.flaginfo div>h1,p{
    padding-left:5%;

}
.flaginfo div>p{
    font-style: bold;
    font-weight: bold;
}
